.section {
  width: 100%;
  background-color: white;
}
.categories {
  width: 80%;
  margin: 0px auto;
  padding-bottom: 50px;
  max-width: 1500px;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 10px;
}
.title p {
  margin-left: 10px;
  margin-right: 10px;

  font-size: 25px;
  font-weight: 600;
  letter-spacing: 1px;
  color: rgb(25, 25, 25);
}
.subtitle {
  text-align: center;
  padding-bottom: 40px;
}

/* working on the catigories grid  */
.categoriesGrid {
  display: grid;
  height: 50vh;
  grid-template-columns: 2.5fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "women men backpack"
    "women men accessories";
  grid-gap: 20px;
}
.women {
  grid-area: women;
  background-color: pink;
  position: relative;
  display: block; /* or inline-block */
}
.women a {
  text-decoration: none;
  color: black;
}
.women p {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: white;
  padding: 10px 20px;
}
.men {
  grid-area: men;
  position: relative;
  background-color: black;
}
.women a {
  text-decoration: none;
  color: black;
}
.men p {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: white;
  padding: 10px 20px;
}
.backpack {
  grid-area: backpack;
  background-color: brown;
  position: relative;
}
.backpack p {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: white;
  padding: 10px 20px;
}
.accessories {
  grid-area: accessories;
  background-color: yellow;
  position: relative;
}
.accessories p {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: white;
  padding: 10px 20px;
}
@media screen and (max-width: 900px) {
  .categories {
    width: 90%;
  }
  .categoriesGrid {
    display: grid;
    height: 80vh;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 1fr 1fr;
    grid-template-areas:
      "women women"
      "men backpack"
      "men accessories";
    grid-gap: 20px;
  }
  .men {
    background-position: center;
  }
  .title p {
    text-align: center;
    width: 100%;
  }
}
