.productsquickviewsection {
  width: 100%;

  background-color: white;
}
.productsquickview {
  width: 80%;
  margin: 0px auto;
  padding-bottom: 50px;
  max-width: 1500px;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 10px;
}
.title p {
  margin-left: 10px;
  margin-right: 10px;

  font-size: 25px;
  font-weight: 600;
  letter-spacing: 1px;
  color: rgb(25, 25, 25);
}
.subtitle {
  text-align: center;
  padding-bottom: 40px;
}

.chooseCategory {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.chooseCategory p {
  margin: 0px 50px;
  padding: 10px 25px;
  cursor: pointer;
}
.chooseCategory p.active {
  background-color: black;
  color: white;
  border-radius: 20px;
}
/* working on the products show  */
.showProducts {
  width: 100%;
  display: flex;
}
.product {
  margin: 30px;
  height: 450px;
  width: 250px;
  cursor: pointer;
  /* background-color: white; */
  position: relative;
}
.productImage {
  width: 100%;
}
.productTitle {
  margin: 10px 10px 0px;
}
.productPrice {
  margin: 5px 10px 0px;
}
@media screen and (max-width: 900px) {
  .productsquickview {
    width: 90%;
  }
  .chooseCategory {
    display: flex;
    flex-direction: column;
  }
  .chooseCategory p {
    width: 100%;
    margin: 5px 0px;
    text-align: center;
  }
  .title p {
    text-align: center;
    width: 100%;
  }
}
.customArrow {
  height: fit-content;
  padding: 0px;
  margin: 0;
  margin-top: 20%;
  background-color: white;
  color: black;
  border: none;
  cursor: pointer;
}

/* product actions */
.productActions {
  position: absolute;
  top: 240px;
  left: 10px;
}
.addToFavorite {
  background-color: black;
  padding: 6px 10px;
  color: white;
  font-size: 15px;
  margin-bottom: 10px;
  opacity: 0;
  transition: 0.5s;
}
.product:hover .addToFavorite {
  opacity: 1;
}
.addToFavorite:hover {
  background-color: palevioletred;
}
