.categoSec {
  width: 100%;
  background-color: rgb(235, 235, 235);
  position: relative;
  /* top: 100px; */
}
.catego {
  width: 80%;
  margin: 0px auto;
  max-width: 1200px;
}
.catego p {
  padding: 20px 0px;
}
