.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 35px;
  left: 0px;
  right: 0px;
  z-index: 30;
  overflow-y: auto;
}
nav.scrolled {
  position: fixed;
  top: 0;
  background-color: white;
  box-shadow: 0px 2px 4px rgba(67, 67, 67, 0.2);
}
/* .nav h1 {
  font-size: 35px;
  letter-spacing: 3px;
  margin: 15px 0px;
  margin-left: 40px;
} */
.nav img {
  height: 35px;
  margin: 15px 0px;
  margin-left: 40px;
}
.nav .myLinks {
  list-style: none;
  display: flex;
}
.myLinks li {
  padding: 15px;
}
.myLinks a {
  text-decoration: none;
  color: rgb(32, 32, 32);
}
.iconDiv {
  margin-right: 40px;
  position: relative;
  text-decoration: none;
}
.iconDiv a {
  text-decoration: none;
  color: black;
}
.iconDiv p {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 12px;
}

.icon {
  font-size: 18px;
  margin: 10px;
  cursor: pointer;
}
.burger {
  display: none;
}

@media screen and (max-width: 900px) {
  .nav .myLinks {
    display: none;
  }
  .iconDiv {
    margin-right: 10px;
  }
  .iconDiv .icon:first-child {
    display: none;
  }
  .burger {
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    display: block;
  }
  .nav img {
    margin-left: 0px;
  }
}

/* now working on the burgerMenu */
.burgerMenu {
  position: fixed;
  left: 0;
  top: 0;
  width: 80%;
  background-color: white;
  height: 100vh;
  transition: transform 0.3s ease-in-out; /* Add transition property */
  transform: translateX(-100%); /* Move the sidebar out of the screen */
  z-index: 100;
}
.burgerMenu.active {
  transform: translateX(0%); /* Move the sidebar out of the screen */
}
.burgerXmark {
  align-items: end;
  margin: 30px;
  font-size: 20px;
}
.burderMenuLinks {
  margin: 30px;
  list-style: none;
}
.burderMenuLinks li {
  margin-top: 30px;
}
.burderMenuLinks a {
  text-decoration: none;
  color: black;
}

/* now working on the my card  */
.MyCart {
  position: fixed;
  right: 0;
  top: 0;
  width: 25%;
  background-color: white;
  height: 100vh;
  overflow-y: auto;
  transition: transform 0.3s ease-in-out; /* Add transition property */
  transform: translateX(100%); /* Move the sidebar out of the screen */
  z-index: 100;
}
.MyCart.active {
  transform: translateX(0%);
}
.MyCart header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.MyCart header p {
  margin: 20px;
  font-weight: 600;
}
.MyCart header .xmark {
  margin-right: 20px;
  font-weight: 600;
  cursor: pointer;
}
@media screen and (max-width: 900px) {
  .MyCart {
    width: 90%;
  }
}

/* NO ITEMS AVALIABLE ON THE CART  */
.noItemsAvaliable {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.noItemsAvaliable p {
  margin: 20px auto;
}
.noItemsAvaliable .icon {
  font-size: 30px;
}
.noItemsAvaliable button {
  margin: 0px auto;
  padding: 10px 20px;
  background-color: black;
  color: white;
  width: fit-content;
  border: none;
}

.whiteNavBar {
  background-color: white;
  box-shadow: 0px 2px 4px rgba(67, 67, 67, 0.2);
  margin-bottom: 35px;
  /* this my couse a bug  */
  /* position: relative; */
}

/* working on the avaliable items  */
.itemsAvaliable {
  width: 100%;
}
.itemsAvaliable .youHaveFreeShipping {
  background-color: rgb(243, 243, 243);
  display: flex;
  align-items: center;
  width: 100%;
  margin: 10px auto;
}
.itemsAvaliable .youHaveFreeShipping .icon {
  font-size: 20px;
  margin-left: 5%;
}
.itemsAvaliable .product {
  width: 90%;
  margin: 30px auto;
  height: 100px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.itemsAvaliable .product .productInfos {
  width: 100%;
  display: flex;
  height: auto;
}
.itemsAvaliable .product .productInfos img {
  width: 25%;
}

/* working on the cart options */
.cartOptions {
  background-color: rgb(243, 243, 243);
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 40px;
}
.optionIcon {
  font-size: 20px;
  padding: 10px 0px;
  color: rgb(65, 65, 65);
  cursor: pointer;
}
.spreadLine {
  height: 100%;
  width: 2px;
  background-color: rgb(178, 178, 178);
}
.subTotal {
  font-weight: bold;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.agreeTermsConditions {
  display: flex;
  margin-top: 20px;
  align-items: center;
}
.agreeTermsConditions p {
  margin-left: 10px;
  font-size: 13px;
}
.Proceedcheckout {
  width: 100%;
  padding: 10px;
  background-color: black;
  color: white;
  border: 1px solid black;
  margin-top: 30px;
  font-weight: bold;
}
.viewCart {
  width: 100%;
  padding: 10px;
  background-color: white;
  color: BLACK;
  border: 1px solid black;
  margin-top: 10px;
  font-weight: bold;
}
