.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 35px;
  left: 0px;
  right: 0px;
  z-index: 10;
}
.nav h1 {
  font-size: 35px;
  letter-spacing: 3px;
  margin: 15px 0px;
  margin-left: 40px;
}
.nav .myLinks {
  list-style: none;
  display: flex;
}
.myLinks li {
  padding: 15px;
}
.myLinks a {
  text-decoration: none;
  color: rgb(32, 32, 32);
}
.iconDiv {
  margin-right: 40px;
}

.icon {
  font-size: 18px;
  margin: 10px;
  cursor: pointer;
}
.burger {
  display: none;
}

@media screen and (max-width: 900px) {
  .nav .myLinks {
    display: none;
  }
  .iconDiv {
    margin-right: 10px;
  }
  .iconDiv .icon:first-child {
    display: none;
  }
  .burger {
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    display: block;
  }
}

/* now working on the my card  */
.MyCart {
  position: fixed;
  right: 0;
  top: 0;
  width: 25%;
  background-color: white;
  height: 100vh;
  overflow-y: auto;
  transition: transform 0.3s ease-in-out; /* Add transition property */
  transform: translateX(100%); /* Move the sidebar out of the screen */
  z-index: 50;
}
.MyCart.active {
  transform: translateX(0%);
}
.MyCart header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.MyCart header p {
  margin: 20px;
  font-weight: 600;
}
.MyCart header .xmark {
  margin-right: 20px;
  font-weight: 600;
  cursor: pointer;
}
@media screen and (max-width: 900px) {
  .MyCart {
    width: 90%;
  }
}

/* now working on the burgerMenu */
.burgerMenu {
  position: fixed;
  left: 0;
  top: 0;
  width: 80%;
  background-color: white;
  height: 100vh;
  transition: transform 0.3s ease-in-out; /* Add transition property */
  transform: translateX(-100%); /* Move the sidebar out of the screen */
  z-index: 50;
}
.burgerMenu.active {
  transform: translateX(0%); /* Move the sidebar out of the screen */
}
.burgerXmark {
  align-items: end;
  margin: 30px;
  font-size: 20px;
}
.burderMenuLinks {
  margin: 30px;
  list-style: none;
}
.burderMenuLinks li {
  margin-top: 30px;
}
.burderMenuLinks a {
  text-decoration: none;
  color: black;
}
