.menPageProducts {
  margin: 20px 0px;
}
.menPageProducts h1 {
  color: rgb(69, 69, 69);
  margin-bottom: 15px;
  font-weight: 600;
}
.menPageProducts p {
  padding: 5px 0px;
  color: rgb(69, 69, 69);
}
.numProducts {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.numProducts select {
  background-color: none;
  border: none;
}
.numProducts select:focus {
  border: none;
}

.numProducts select:active {
  border: none;
}
.numProducts option {
  padding: 10px;
}
.menProductsItems {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.menProductsItems a {
  text-decoration: none;
  color: black;
}
.filtersButton {
  display: none;
}
@media screen and (max-width: 900px) {
  .menProductsItems {
    justify-content: center;
    align-items: center;
    margin: 10px auto;
  }
  .filtersButton {
    display: block;
    padding: 10px;
    background-color: black;
    border: none;
    margin: 20px auto;
    font-weight: bold;
    border-radius: 5px;
    color: white;
    width: 100%;
  }
}

/* side bar filters  */
.sideBarFilters {
  display: none;
}
@media screen and (max-width: 900px) {
  .sideBarFilters {
    display: block;
    height: 100vh;
    width: 80%;
    background-color: white;
    position: absolute;
    top: -110px;
    left: 0px;
    z-index: 90;
    transform: translateX(-100%);
    transition: 0.3s ease-in;
  }
  .sideBarFilters.active {
    transform: translateX(0%);
    transition: 0.3s ease-in;
  }

  .sideBarFilters .closeFiltersIcons {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
  }
}
.seeApliedFilters {
  display: flex;
  margin-top: 20px;
}
.seeApliedFilters p {
  background-color: black;
  color: white;
  width: fit-content;
  padding: 10px;
  font-size: 10px;
  cursor: pointer;
}
.seeApliedFilters p:not(:first-child) {
  margin-left: 10px;
}
